.bgRed {
               background-color: red;
}

.bgGreen {
               background-color: green;
}

.bgOrange {
               background-color: orange;
}

.bgYellow {
               background-color: yellow;
}